<%= form_with(model: tournament, local: true) do |form| %>
  <% if tournament.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tournament.errors.count, "error") %> prohibited this tournament from being saved:</h2>

      <ul>
      <% tournament.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="tournament_name">Turnauksen nimi</label>
        <%= form.text_field :name, id: :tournament_name, size: '50', class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="tournament_genre">Genre</label><br/>
        <%= form.select :genre, options_for_select(@genres, { selected: @tournament.genre }), class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="tournament_description">Kuvaus</label>
        <%= form.text_area :description, id: :tournament_description, size: '70x5', class: 'form-control' %>
        <small>URL:t muutetaan automaattisesti linkeiksi.</small>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="actions">
        <% if tournament.persisted? %>
          <%= form.submit 'Tallenna', class: 'btn btn-primary' %>
        <% else %>
          <%= form.submit 'Tallenna ja lisää sijoitukset', class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
